
    <!-- Button trigger modal -->
<button type="button" class="btn  float-right" style="border: 2px white solid;" data-toggle="modal" data-target="#form_modal3" style="background: #0750FF"><span class="fa fa-send" style="color: red"></span>
</button>

    </div>



<!--  for chatbot -->
         <div class="modal fade" id="form_modal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="delete_cv.php" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h3 class="modal-title">pgs Assistant</h3>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                             <div class="form-group editContent" style="outline: none; cursor: inherit;">


                               
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="modal-footer">
                       <textarea readonly="true" id="botChat" class="form-control"></textarea>
                                    <input type="text" placeholder="Ask a question" onKeypress="enterButton(event, document.getElementsByTagName('input')[0].value);" style="color:red; background-color:black; width:79%;"> 
                                <button onClick="answer(document.getElementsByTagName('input')[0].value)"><span class="fa fa-send"></span></button></p>

                        <button class="btn btn-danger" type="button" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% load static%}   
<script type="text/javascript" src="{% static 'js/chatbot.js'%}"></script>
