<html lang="sw">
<head>
    <meta>
    {% load static %}
    <link rel="icon"  href="{% static 'images/STAY.jpg'%}">
    <title>Patient guiding system</title>

            {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.main.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" >
    <script type="text/javascript" src="{% static 'js/npm.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jQueryv3.4.1.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
</head>
<body >
     <header id="home" class="editContent">
<div class="container-fluid fixed-top " id="container">

        <div class="float-left fixed-top">
           
            <img src="{% static 'images/STAY.jpg'%}" height="60" width="60" id="logo">
        </div>
        <div class="col-md-6 float-none fixed-top" id="center-div">
           <a href="../" style="color: white;text-decoration-line: none;"> <h2 id="head" align="center">Intelligent Patient Guiding System</h2></a>
        </div>
    <div class="col-md-6 float-right ">
        <nav>
            <ul id="list" class="list float-right">

                <li>
                    <a class="btn" href="" style=""><span class="fa fa-laptop" style="color:white"></span> About us</a>
                    <a class="btn" href=""><span class="fa fa-phone" style="color:white"></span> contact us</a>
                    <a class="btn" href="../login"><span class="fa fa-sign-in" style="color:white"></span> sign in</a>
                    <a class="btn" href="../register"><span class="fa fa-key" style="color:white"></span>sign up</a>
                </li>
            </ul>
        </nav>

    </div>
    </div>
</div>
</header>
       
