{% include 'header.html'%}
<div class="container-fluid">
    <div class="row-sm-12">
        <div class="col-md-3 float-left" id="left_div">
            <p>              
How it Works Fount will tell you which web font in your font-stack you are actually seeing – not just what is supposed to be seen. It’ll also tell you the font size, weight, and style.After adding the bookmark: Go to any site and click the Fount bookmarklet.Click on any type you want to identify. Repeat. To turn Fount off, just click the bookmarklet again. Compatibility Fount works in Safari, Chrome, Firefox, and IE8+.

            </p>
            {% include 'chat.html'%}
        </div>
        <div class="col-md-8 float-right" id="right_div">
            
        </div>
        
    </div>
    
</div>
</body>
</html>