<!DOCTYPE html>
<html lang="sw">
<head>
    <meta charset="UTF-8">
    <title>patient Informations</title>
</head>
<body>
<div>
<form method="post">

            <div class=" w3l-form-group">
                <div class="group">
                    <input type="text" class="form-control" placeholder="👤Username" required="required" name="user_email" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <div class="group">
                    <input type="password" class="form-control" placeholder="Password" required="required" name="password" />
                </div>
            </div>
            <div class="forgot">
                <a href="" onclick="foget()">Forgot Password?</a>
                <p><input type="checkbox" name="remember" checked>Remember Me</p>
            </div>
            <button type="submit" name="submit">login</button>
        </form>
    </div>
</body>
</html>