{% include 'header.html'%}
<div class="container-fluid" id="main">
    <div class="row-sm-12" id="reg_row">
        <div class="col-md-3 float-left" id="left_div">
            <div class="col" id="reg_user">
            	<center><h3>User Registration</h3></center>
            	<form method="post">
            		<div class="form-group">
            			<label>Full Name:</label>
            			<input class="form-control" type="text" name="" pattern="A-Za-z" required="">
            		</div>
            		<div class="form-group">
            			<label>Phone Number:</label>
            			<input class="form-control" type="text" name="" pattern="0-9" required="" title="please inter phone number format">
            		</div>
            		<div class="form-group">
            			<label>Emain Address:</label>
            			<input class="form-control" type="email" name="" pattern="A-Za-z">
            		</div>
            		<div class="form-group">
            			<label>Country:</label>
            			<select class="form-control"></select>
            		</div>
            		<div class="form-group">
            			<label>Region:</label>
            			<select class="form-control"></select>
            		</div>
            		<div class="form-group">
            			<label>District:</label>
            			<select class="form-control">
            				
            			</select>
            		</div>
            		<center><button class="btn btn-info">Register</button></center>
            		
            	</form>
            	
            </div>
            
        </div>
        <div class="col-md-8 float-right" id="right_div">
            
        </div>
        
    </div>
    
</div>
</body>
</html>